body {  
  background-image: url(images/2.jpg);
  /* Фоновое изображение не повторяется */
  background-repeat: no-repeat;
  /* Фоновое изображение зафиксировано в окне просмотра, поэтому оно не смещается, когда высота контента больше высоты изображения */
  background-size: cover;
  /* Устанавливает фоновый цвет,будет отображаться, пока загружается фоновое изображение */
  background-color: pink;                                                   } 

html {}

.container {
max-width: 1100px;
text-align:justify;                                                     }                   

#verh { 
background: #92bffc;
width: 97.5%;
padding: 1%;                                                    }

.logoos                         {
text-align: left; 
color: white;
font-size: 2vw; 
margin:0 auto;                    } 

.qwe { margin-right: 17%  ;   }

.nav                                   {
  font-size: 2vw;
  color: red;
  border: solid black 0.15em;
  margin: 0 auto;  
  text-align: center;
  border-radius: 5px 5px 5px 5px;              }

#centerstr {
background-image: url(images/fon2.jpg);
border: solid red 0.3em;
width: 45%;
padding-left: 5vw;
border-radius: 50px 0px 50px 0px;
margin: 50px 5px;}

.center { 
color: white;
padding-left: 4%;
font-size: 2.3vw; }

.text {  color: white;
padding-left: 4%;
font-size: 1.8vw; }

#saytbarustr {
text-decoration: none;
margin:0 auto;
flex-direction: column;
overflow: hidden; 
column-count: 4; 
column-gap: 20px;
text-align:justify; }

.textstolbiki                                   {
font-size: 1.5vw;
border: solid black 0.2em;
margin: 0 auto;
padding: 2px;
background: white;
padding: 10px;                                          }

.navvv {  
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8vw;
  color: red;
  border: solid black 0.1em;
  border-radius: 5px 5px 5px 5px;                     }

#niz {  border: 1px;
  background-image: url(images/fon3.jpg) ;  
    /* Фоновое изображение всегда отцентрировано по вертикали и горизонтали */
  background-position: center;
  /* Фоновое изображение не повторяется */
  background-repeat: no-repeat;
  /* Фоновое изображение зафиксировано в окне просмотра, поэтому оно не смещается, когда высота контента больше высоты изображения */
  background-attachment: fixed;
  /* Вот что позволяет фоновому изображению подстраиваться под размер контейнера */
  background-size: cover;
height: 45em; padding: 1em;                                 }


.krug  {
padding: 4em 4em;
  color:  white;
font-size: 25px;
text-align: center;
 border-radius: 100%;
 width: 5em;
 height: 5em;
 border: solid red 0.2em;
margin: 4em 1em; 
background: black; opacity: 0.7;                              }   

#pol { 
width: 100%;
height: 11em;
background: black;
color: white; 
position: relative; 
text-align: left;  
font-size: 15px; 
border: black 20px; 
margin: 0 auto;
border:solid green 0.1em; }

.textpoltwo {
  margin-bottom:  10px;
  text-align: right;
padding-right: 10px}

.textpol {
  padding-left: 1.5em: }


@media screen and (max-width: 1100px)            {
#saytbarustr   { 
       -webkit-column-count: 4;
       margin:15px 5px 15px 5px;                   }                       }

@media screen and (max-width: 992px)            {
#saytbarustr {
       -webkit-column-count: 2;                      }  }

@media screen and (max-width: 767px)            {
#saytbarustr   {
       -webkit-column-count: 1;                       }                       }

@media screen and (max-width: 767px)    {
.nav {
font-size: 3vw;
margin: 0 auto;}}

@media screen and (max-width: 767px)    {
.qwe {
  font-size: 4vw;
margin: 15px;}}

@media screen and (max-width: 767px)    {
.center {
  font-size: 4vw;}}

  @media screen and (max-width: 767px)    {
.text {
  font-size: 3.5vw;}}

@media screen and (max-width: 767px)    {
.textstolbiki {
  font-size: 4vw;}}

@media screen and (max-width: 767px)    {
.navvv{
height: 33px;
font-size: 4.5vw; 
margin-right: 1em;
text-align: center;
padding: 0,4em;}  } 
                            
@media screen and (max-width: 992px)            {
.krug {
padding: 3em 3em;
  color:  white;
font-size: 20px;
text-align: center;
 border-radius: 100%;
 width: 4em;
 height: 4em;
 border: solid red 0.15em;
margin: 2.5em 0.7em;                                                 }
                                                    }
@media screen and (max-width: 767px)            {
.krug {padding: 2em 2em;
  color:  white;
font-size: 18px;
text-align: center;
 border-radius: 100%;
 width: 3em;
 height: 3em;
 border: solid red 0.12em;
margin: 1.5em 0.5em;                                 } }


@media screen and (max-width: 767px)            {
#niz { height: 22em;}}

@media screen and (max-width: 767px)            {
.textpol { font-size: 13px;}}





</body>
</html>